# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env

# ignore deploy artifacts and workflows
.env.gpg
broadcast/
.github/
.gitmodules
